
<header class="page-header">
  <h1>About</h1>
</header>

<h4>Welcome to the Jungle, where you can find any plants!</h4>
<p>At our online plant shop, we only sell the highest quality plants and flowers. We source our products from reputable growers and nurseries, so you can be sure you're getting a healthy, beautiful plant.</p>
<p>We have a wide variety of plants and flowers available for purchase on our website. Whether you're looking for something small and delicate or big and bold, we have the perfect plant for you.</p>